*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__princ{
    min-height: 60px;
    padding: 15px;
    background-color: royalblue;
}

.header__princ h1{
    text-align: center;
    color: white;
}

.content__princ{
    min-height: 200px;
    flex-grow: 1;
    display: flex;
}

.footer__princ{
    min-height: 50px;
    padding: 15px;
    color: white;
   background-color: black;

}